{% extends 'base.html' %}

{% block title %}
Welcome!!
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="home">

<h1>Welcome to my project</h1>

<img class="top-img" src="{% static 'imgs/who.jpg' %}">

<h2>On this site you can:</h2>

<div class="parent">
    <div>
        <h5>Create notes</h5>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia fugiat amet labore possimus. Corporis tenetur explicabo vero officia similique assumenda!</p>
    </div>
    <div>
        <h5>Do more</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde quasi soluta odio sit harum quae!</p>
    </div>
    <div>
        <h5>Send emails</h5>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, minima qui. Sequi pariatur et enim similique temporibus impedit.</p>
    </div>
</div>
</div>

{% endblock %}