

.details {
    padding: 30px;
}

.details img {
    max-height: 500px;
    min-width: 500px;
    border-radius: 12px;
}

.details h1 {
    color:darkcyan;
    margin:20px 0 5px 0;
}

.details .date {
    color: #626364;
    font-size: 11px;
    font-weight: 300;
}

.deails p {
    max-width: 500px;
}

.comment {
    background-color: #fcfcfc;
    border: 1px solid #cacaca;
    border-radius: 4px;
    margin: 12px 0px;
    padding: 12px;
    max-width: 600px;
}

.comment p {
    margin-bottom: 0;
}

.comment label {
    color:#6a7177;
    font-size: 12px;
}