
.list {
    padding: 20px;
}

.list h1 {
    color:darkcyan;
}

.list .note {
    display: inline-block;
    width: 250px;
    height: 360px;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 5px;
    vertical-align: top;
    background-color: white;
}

.list .note img {
    width: 230px;
    height: 150px;
} 