{% extends 'base.html' %}

{% block title %}
My Notes
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}
<div class="list">

    <h1>List of Notes</h1>

    <div class="records">
        {% for record in note_list %}
            <div class="note">

                {% if record.image %}
                <img src="{{record.image.url}}">
                {% endif %}

                <h5>{{record.title}}</h5>

                <p>{{record.description|truncatechars:80}}</p>

                <a class="btn btn-primary" href="{% url 'note_details' record.id %}">View details</a>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}